/* Home.css */

.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.body-container > * {
  flex-basis: 0;
  flex-grow: 0.7;
}
